@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f0e1; /* Café claro */
  --foreground: #4e3b31; /* Café oscuro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3b2a22; /* Café más oscuro */
    --foreground: #ede0d4; /* Blanco sucio */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input,
select,
button {
  font-family: inherit;
  font-size: 16px;
}

/* Header styles */
#searchForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e8d5c4; /* Café claro más suave */
  border-bottom: 2px solid #b69b8a; /* Café medio */
}

#searchForm img {
  width: 200px;
  height: 90px;
}

#searchForm .form-group {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

#searchForm input,
#searchForm select {
  padding: 10px;
  border: 1px solid #b69b8a; /* Café medio */
  border-radius: 5px;
  margin-top: 5px;
}

/* Recent searches form */
#recentForm {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2e8d5; /* Café más claro */
  border: 1px solid #d1b7a5; /* Café claro */
}

#recentForm h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#recentSearches {
  padding: 10px;
  background-color: #ffffff; /* Blanco */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* SideBar and CRUD section styles */
#crud {
  display: flex;
  padding: 20px;
  background-color: #f9f5f0; /* Café muy claro */
  border: 1px solid #d1b7a5; /* Café claro */
  border-radius: 5px;
  margin-top: 20px;
}

#crud h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.sectionagregar {
  padding: 50px;
  background-color: #e8d5c4; /* Café claro más suave */
  border-radius: 5px;
  margin-bottom: 20px;
}

.sectionagregar .form-group {
  margin-bottom: 10px;
}

.sectionagregar label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.sectionagregar input,
.sectionagregar select {
  width: 115%;
  padding: 10px;
  border: 1px solid #b69b8a; /* Café medio */
  border-radius: 5px;
  margin-top: 5px;
}

.vbutton {
  background-color: #6f4c3e; /* Café medio */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 3px;
}

.vbutton:hover {
  background-color: #5b3a30; /* Café oscuro */
}

#addButton {
  padding: 10px 15px;
  background-color: #8c7352; /* Café claro más oscuro */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

#addButton:hover {
  background-color: #7a6348; /* Café oscuro */
}

.sectionregistros {
  width: 100%;
  margin: 5px;
}

/* Table styling */
#bookTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#bookTable th,
#bookTable td {
  border: 1px solid #d1b7a5; /* Café claro */
  padding: 8px;
  text-align: center;
}

#bookTable th {
  background-color: #8c7352; /* Café claro más oscuro */
  color: white;
}

/* Action buttons (Edit, Delete, PDF) */
button.edit {
  background-color: #6f4c3e; /* Café medio */
  padding: 5px;
  width: 30%;
  margin-right: 2px;
}

button.delete {
  background-color: #dc3545; /* Rojo para eliminar */
  padding: 5px;
  width: 40%;
  margin-left: 2px;
}

button.pdf {
  background-color: #8c7352; /* Café claro más oscuro */
  padding: 5px;
}

/* Estilos para el modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modal-content {
  background-color: #ffffff; /* Blanco */
  margin: 15% auto;
  padding: 20px;
  width: 90%; /* Cambiado a 90% para pantallas más pequeñas */
  max-width: 700px; /* Máximo ancho del modal */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal input,
.modal select,
.modal textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #b69b8a; /* Café medio */
  border-radius: 5px;
  margin-top: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para los botones */
button,
input[type="submit"] {
  padding: 10px 19px;
  background-color: #8c7352; /* Café claro más oscuro */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Transición suave */
  margin-left: 3px;
}

button:hover,
input[type="submit"]:hover {
  background-color: #7a6348; /* Café oscuro */
}

/* Espaciado y alineación */
input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #8c7352; /* Café claro más oscuro */
  outline: none;
}
